#game-board {
    width: 600px;
    margin: 20px auto;
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    margin: 10px;
    background-color: rgb(17, 17, 110);
    color: white;
    width: 130px;
    height: 130px;
    text-align:center;
}

.card::before {
    position: relative;
    top: 25px;
}

.card.selected {
    background-color: rgb(197, 23, 23);
}