.game-board {
    width: 600px;
    margin: 20px auto;
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    margin: 10px;
    background-color: teal;
    width: 130px;
    height: 130px;
    text-align:center;
}

.card::before {
    position: relative;
    top: 25px;
}