body {
    font-family: sans-serif;
    background-color: #6D92A0;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}

.stars {
    margin-right: 20px;
}

.new-game-btn {
    padding: 10px 20px;
    background-color: #552C00;
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,1)
}

.new-game-btn:active {
    box-shadow: 0 0 0 0 white;
}

.stats .new-game-btn {
    margin-left: 20px;
}

#content {
    width: 300px;
    margin: auto;
}

#game-board {
    width: 100%;
    padding: 10px;
    perspective: 1000px;
    background-color: #022735;
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,.8)
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    padding: 5px;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight:bold;
    margin-bottom: 10px;
}

/* 
    Card Flipping
    Based on : https://gomakethings.com/detecting-clicks-inside-an-element-with-vanilla-javascript/
*/
.card.show .flipper {
    transform: rotateY(180deg);
}

.card, .front, .back {
	width: 65px;
    height: 65px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
    left: 0;
    background-color: rgb(17, 17, 110);
    
}

.back {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #27586B;
}

.card .front {
    transform: rotateY(180deg);
    background-color: #AA7439;
    color: white;
    text-align:center;
    font-size: 2em;
}

.front::before {
    position: relative;
    top: 20%;
}


/* Winner Modal */
#modal {
    bottom: -100%;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
}

#modal .modal-content {
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#modal.open {
    top: 0;
    bottom: 0;
}

#modal.open .modal-content {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in;
}

@media screen and (min-width: 420px) {
    #content {
        width: 480px;
    }

    .card, .front, .back {
        width: 110px;
        height: 110px;
    }

    .stats .new-game-btn {
        margin-left: 90px;
    }

    .card .front {
        font-size: 4em;
    }
}