body {
    font-family: sans-serif;
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
}

.stars {
    margin-right: 20px;
}

.new-game-btn {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,1)
}

.stats .new-game-btn {
    margin-left: 150px;
}

#game-board {
    width: 600px;
    margin: 10px auto;
    perspective: 1000px;
}

.card-row {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    width: 150px;
    height: 150px;
    padding: 5px;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight:bold;
}

/* 
    Card Flipping
    Based on : https://gomakethings.com/detecting-clicks-inside-an-element-with-vanilla-javascript/
*/
.card.show .flipper {
    transform: rotateY(180deg);
}

.card, .front, .back {
	width: 140px;
    height: 140px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
    left: 0;
    background-color: rgb(17, 17, 110);
    
}

.back {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    background-color: rgb(17, 17, 110);
}

.front {
    transform: rotateY(180deg);
    background-color: rgb(197, 23, 23);
    color: white;
    text-align:center;
}

.front::before {
    position: relative;
    top: 35px;
}


/* Winner Modal */
#modal {
    bottom: -100%;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
}

#modal .modal-content {
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#modal.open {
    top: 0;
    bottom: 0;
}

#modal.open .modal-content {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in;
}